/*与整体布局有关的样式*/
section,header,article,nav{
	display: block;
}
*{
	padding: 0;
	margin: 0;
}
body{
	margin: 1em 10%;						/*默认的1em为16px em会继承父级元素的大小*/
	background-image: url(../images/background.gif);		
	background-attachment: fixed;			background-attachment 属性设置背景图像是否固定或者随着页面的其余部分滚动。scroll滚动 fixed固定
	background-position: top left;			/*background-position 属性设置背景图像的起始位置。*/
	background-repeat: repeat-x;
	max-width: 80em;
}
header{
	background-image: url(../images/guitarist.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	border-width: 0.1em;
	border-style: solid;
	border-bottom-width: 0;
}
header nav{
	background-image: url(../images/navbar.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	border-width: 0.1em;
	border-style: solid;
	border-bottom-width: 0;
	border-top-width: 0;
	padding-left: 10%;
}
header nav ul{
	width: 100%;
	overflow: hidden;
	border-left-width: 0.1em;
	border-left-style: solid;
}
header nav li{
	display: inline;
}
header nav li a{
	display: block;
	float: left;
	padding: 0.3em 2em;
	border-right: 0.1em solid;
}
article{
	border-width: 0.1em;
	border-style: solid;
	border-top-width: 0;
	padding: 2em 10%;
}
article img{
	border-width: 0.1em;
	border-style: solid;
	outline-width: 0.1em;				/*outline （轮廓）是绘制于元素周围的一条线，位于边框边缘的外围，可起到突出元素的作用。*/
	outline-style: solid;
}

#about header{
	background-image: url(../images/lineup.gif);
}

#photos header{
	background-image: url(../images/basshead.gif);
}

#live header{
	background-image: url(../images/bassist.gif);
}

#contact header{
	background-image: url(../images/drummer.gif);
}

#slideshow{
	width: 150px;
	height: 150px;
	position: relative;
	overflow: hidden;
}

#preview{
	position: absolute;
	border-width: 0;
	outline-width: 0;
}

#frame{
	position: absolute;
	left: -1px;
	top: -1px;
	/*保证小窗口出现在动画之上*/
	z-index: 99;
}

#imagegallery li{
	display: inline;
}

td{
	padding: 0.5em 3em;
}

dl{
	overflow: hidden;
}

dt,dd{
	float: left;
}

label{
	display: block;
}

fieldset{
	border: 0;
}